.app{
    display: flex;
    gap: 50px;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.left,
.right{
    height: 400px;
    width: 400px;
    text-align: center;
}

.left{
    background-color: #1abc9c;
   
}

.right{
    background-color: #2980b9;
    
}

.increment{
    height: 2rem;
    font-size: 1.2rem;
    border: none;
    margin: 10px;
    font-weight: bold;
}

.left > .increment{
    color: #2980b9;
}

.right > .increment{
    color: #1abc9c;
}

.decrement{
    height: 2rem;
    font-size: 1.2rem;
    border: none;
    margin: 10px;
    font-weight: bold;
    color: red;
}